<h3> Edit a Landmark: </h3>

<form action ="/landmarks/#{@landmark.id}" method="POST"> 
  <input type="hidden" name="_method" value="PATCH"> 
  
  <label> Name: </label> 
  <input type="text" name="landmark[:name]" value="<%=@landmark.id%>" id="<%=@landmark.name%>"> 
  
